.head-nav{
    height: 20px;
    align-items: center;
    justify-content:center;
}
.head-nav-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;


    .head-link{
        color: inherit;
        cursor: pointer;
        text-decoration: none;
        transition: 1s ease-in-out;
        padding: 10px;
        border-radius: 15px;   
        margin: 3px; 

        &:hover{
            background-color: rgb(134, 134, 134);
        }
    }
}